body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  background-color: darkseagreen;
  padding: 5px 20px;
  align-items: center;
}

.logo {
  font-size: 20px;
  color: darkslategray;
  cursor: default;
}

.title {
  font-size: 35px;
  font-weight: bold;
  color: darkslategray;
  cursor: default;
}

.source-code {
  text-decoration: none;
  color: darkslategray;
}
/* Header */


.working-space {
  display: flex;
  justify-content: space-between;
}


/* Menu */
.menu {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-top: 30px;
  padding-left: 20px;
  gap: 10px;
}

.new-grid-btn,
.drawer,
.eraser {
  border: 2px solid darkslategray;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.new-grid-btn:hover,
.drawer:hover,
.eraser:hover,
.color:hover,
.random-color:hover {
  transform: scale(1.03);
  box-shadow: 0 0 2px black;
}

.new-grid-btn {
  width: 130px;
  padding: 10px 0;
  border-radius: 10px;
  margin-bottom: 15px;
}

.drawer,
.eraser {
  border-radius: 100px;
  width: 100px;
  padding: 10px;
  display: flex;
}
/* Menu */


/* Colors */
.colors {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 300px;
  /* border: 1px solid black; */
  padding-top: 30px;
  padding-right: 20px;
}

.colors-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.palette,
.random-color {
  border: 2px solid darkslategray;
  border-radius: 15px;
}

.palette {
  gap: 10px;
  width: 210px;
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
}

.color {
  border: 2px solid black;
  border-radius: 30px;
  width: 40px;
  height: 40px;
}

.random-color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  font-size: 25px;
  cursor: default;
}

.field {
  border: 5px solid black;
  margin-top: 20px;
  width: 570px;
  height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.row {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex: auto;
}

.cell {
  border: 1px solid gray;
  flex: auto;
}

