body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.field {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row {
  display: flex;
  gap: 5px;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

