body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  background-color: darkseagreen;
  padding: 5px 20px;
  align-items: center;
}

.logo {
  font-size: 20px;
  color: darkslategray;
}

.title {
  font-size: 35px;
  font-weight: bold;
  color: darkslategray;
}

.source-code {
  text-decoration: none;
  color: darkslategray;
}

.working-space {
  display: flex;
}

button {
  width: 80px;
}

.field {
  border: 5px solid black;
  margin-top: 20px;
  width: 570px;
  height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.row {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex: auto;
}

.cell {
  border: 1px solid gray;
  flex: auto;
}

